@charset "UTF-8";
@import url(font-awesome.min.css);
@font-face {
	font-family: 'BerlinSansFBDemi-Bold';
	src: url('../fonts/BerlinSansFBDemi-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/BerlinSansFBDemi-Bold.woff') format('woff'), url('../fonts/BerlinSansFBDemi-Bold.ttf') format('truetype'), url('../fonts/BerlinSansFBDemi-Bold.svg#BerlinSansFBDemi-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans.woff') format('woff'), url('../fonts/OpenSans.ttf') format('truetype'), url('../fonts/OpenSans.svg#OpenSans') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
img{max-width: 100%;}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}
button:focus {
    outline: 0px dotted;
    outline: 0px auto -webkit-focus-ring-color;
}

/*--------------------------------------reset end--------------------------------------*/

/*loader*/

body {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	background-color: #ffffff;
}
.play_ground {
	background-image: url("../images/play_ground.jpg");
	background-position: center;
	background-size: cover;
	padding: 0px 0px;
	position: relative;
	width: 100%;
	height: 100%;
}

.play_ground_overlay {
	/*background: rgba(51, 49, 50, 1);*/
/*
	background: #ffffff;
	
    
*/
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}

.sticky+.content {
	padding-top: 102px;
}

.vs {
	color: #000    ;
	margin: 0px 20px;
	font-size: 14px;
	font-weight: bold;
	display: inline-block;
}

.blue_bg {
	/*background-color: #0095c4;*/
	 background: linear-gradient(270deg,#ff2882,#963cff 45%);
}

.m_t20 {
	margin-top: 20px
}

.m_t30 {
	margin-top: 30px
}


/*------button------*/

.next_btn {
	color: #ffffff;
    padding: 0.30rem;
	padding-right: 20px;
	padding-left: 20px;
	transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
	/*border: 1px solid #0095c4;*/
	color: #fff;
	/*background: #0095c4;
	box-shadow: inset 0 0 6px #0095c4;*/
/*    background: linear-gradient(270deg,#ff2882,#963cff 45%);*/
    background:#c70101;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.15);
    color: #fff;
    cursor: pointer;
	
}

.next_btn:hover,
.next_btn:focus {
	/*background: #0095c4;*/
	color: #fff;
	-webkit-transform: scale(1.1);
	/*transform: scale(1.1);
	-moz-box-shadow: 0 0 5px 2px #0095c4;
	-webkit-box-shadow: 0 0 5px 2px#0095c4;*/
    
}


/*------nav------*/


nav {
	min-height: 3vh;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #c70101;
    /*background: linear-gradient(-270deg,#8b0263,#fc3f42 90%);*/
	padding:5px 20px;
    flex-direction:row-reverse;
    z-index: 0;
}


/*------logo------*/

.logo {
	display: block;
	vertical-align: middle;
    text-align: right;
}

.logo a {
	display: block;
	width:30px;
}

.logo a img {
	vertical-align: middle;
	width: 100%;
}
/*.logo a:hover{transform: scale(0.9);}*/
.league_icon {
	width: 50px;
	height: auto;
}

.league_icon img {
	vertical-align: middle;
	max-width: 100%;
}

.title_League {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 30px;
}

.w_epl_logo {
	width: 90px;
}

.title_League img {
	max-width: 100%;
	vertical-align: middle;
}

.title_League h2 {
	font-size: 24px;
	color: #030044;
}


.main_section {
	position: relative;
    background:rgba(255,255,255,0.9);
}


/*------matches------*/

.container_wrap {
	min-height:100%;
}
/*.sub-header-image {
    background-color: #37003c;
    margin-top: -2rem;
    background-image: url(../images/heading-bg-desktop.svg);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    margin-bottom: 4rem;
    padding: 2rem 0 1rem;
        padding-bottom: 1.5rem;
    position: relative;
}*/

.wrapper{display: flex; justify-content: space-between; width: 100%; padding-left: 15px;padding-right: 15px; max-width: 1920px; margin: 0px auto}

.container_wrap,
.subheader_wrap, .container_wrap2 {
	max-width: 1920px;
	margin: auto;
	padding-right: 15px;
	padding-left: 15px;
	/*background: rgba(255, 255, 255, 0);*/
}
.container_wrap2 { max-width: 1140px; z-index: 0}
.common{ background: #f6f6f6;}
.t-box-1{ width: 33%; padding-right: 10px; padding-left:0px;}
.box-2{ width:59%; padding-right: 10px; padding-left:20px;}
.box-3{ width: 40%; padding-right: 10px; padding-left:10px;}
.match_menu {
	position: relative;
	padding: 5px 10px 0px;
	padding-top: 30px;
}

.match_menu .link_area {
	width: 90%;
	margin: auto;
	text-align: center;
}

.match_menu .link_area li {
	list-style: none;
	text-decoration: none;
	display: inline-block;
    position: relative;
}
.match_menu .link_area a:before
{
    color: transparent;
	content: "\f0d8";
	font-family: FontAwesome;
	font-size: 40px;
    position: absolute;
    top:-26px;
    z-index: 1;
    left: calc(100% - 56%)
}
.match_menu .link_area a {
	color: #000000;   
    border-radius:0.1rem;
     -webkit-transform: scale(0.9);
    transform: scale(0.9);
    transition: 1s;
    padding: 0.9rem;
    position: relative;
    
}

.match_menu .link_area a .img-btn {
	width: 150px;
    box-sizing: border-box;
    font-size: 1.2rem
}

.match_menu .link_area a .img-btn img {
	max-width: 100%;
    max-height: 120%;
}
.match_menu .link_area a:hover, .match_menu .link_area .active{  
    color: #ffffff;
    cursor: pointer;
     background: #c70101;
}
/*
.match_menu .link_area a.active:before
{
    color: #243378;
	content: "\f0d8";
	font-family: FontAwesome;
	font-size: 40px;
    position: absolute;
    top:-37px;
    z-index: 1;
    left: calc(100% - 56%)
}
*/
.match_menu .link_area a.active:before
{
    color: #c70101;
	content: "\f0d7";
	font-family: FontAwesome;
	font-size: 40px;
    position: absolute;
    top:31px;
    z-index: 1;
    left: calc(100% - 56%)
}
/*.match_menu .link_area a:hover, .match_menu .link_area .active{ 
	border: 1px solid #c73152; color: #fff; background: #a80025; 
	box-shadow: inset 0 0 6px #c73152; 
	text-shadow: 0 0 5px #ff99b4, 0 0 15px #ff99b4, 0 0 20px #ff99b4, 0 0 40px #ff99b4, 0 0 60px #ff99b4, 0 0 10px #ff99b4, 0 0 98px #ff99b4;}*/

.btn.focus,
.btn:focus {
	outline: 0;
	box-shadow: 0 0 0 .2rem transparent;
}

.stadium img {
	max-width: 100%;
}

.next_menu {
	padding: 20px 0px;
    display: none;
}

.title_bg {
	display: table;
	width: 100%;
	border-top: 1.8px solid #53055a;
	padding: 15px;
	border-bottom: 1.8px solid #53055a;
}

.title_bg3 {
	display: table;
	width: 100%;
	padding: 8px 10px;
}

.title_bg i {
	font-size: 32px;
	color: #ffffff
}

.title_bg3 .team_logo {
	width: 40px;
	height: 40px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

.title_bg3 .team_name {
	display: inline-block;
}

.title_bg3 .team_logo img {
	width: 100%;
	height: 100%
}

.matches_list_outer,
.team-name,
.player-name {
	border-bottom: 1px solid #48494a;
	padding: 10px 0px;
	margin: 0px 0px;
}

.team-name,
.player-name {
	border: 1px solid #fdb913;
	box-sizing: border-box;
	padding: 10px 6px;
	margin: 0px 0px;
}
.player-name, .matches_list_outer {
    border: 2px solid #c70101 !important;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 18.33% !important;
    display: inline-block !important;
    border-radius: 10px;
}
.player_name {text-overflow: ellipsis;white-space: nowrap; width: 90%; text-align: center;}
.player_name h5{text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.list_col.date-div, .list_col.stadium{display: none}
.matches_list_outer {width:32% !important;}
.player-name:nth-child(5n + 5), .matches_list_outer:nth-child(3n + 3) {margin-right:0px;}
.palyer_list_name .list_col > .fa.fa-chevron-right{ display: none}
.palyer_list_name{ display: block !important}
.t_name{color: #000000}
.matches_list,
.team-name,
.palyer_list,
.palyer_list_name,
.player-name {
	display: table;
	width: 100%;
	position: relative;
	font-size: 17px;
}

.matches_list {
	position: inherit;
}

.matches_list_outer {
	display: block;
	width: 100%;
	position: relative;
	font-size: 14px;
	font-size: 14px;
	padding:0px;
}

.matches_list {
	padding:9px 6px;
}
.matches_list .team_name, .matches_list .date, .matches_list .stadium-name{font-size: 12px; color: #000000} 

.list_border_top {
	border-top: 1px solid #d5d5d5
}

/*.matches_list:hover,*/
.check,
.team-name:hover,
.player-name:hover {
    background: #c70101;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.15);
    color: #ffffff !important;
    cursor: pointer;
}
.team-name.active, .player-name.active{background: #c70101; color: #ffffff;}
.team-name.active h5, .palyer_list.active i, .player-name.active h5, .player-name.active i{color: #ffffff;}
.team-name:hover,
.player-name:hover {
	/*background-color: #e8e8e8;*/
	transition: all .5s ease-in-out;
	box-sizing: border-box;
	padding: 10px 6px;
}
.player-name:hover h5{ color: #ffffff !important;}
.matches_list_outer:last-child,
.team-name:last-child {
	border-bottom: 1px solid #53055a;
}



.list_col,
.matches_list_outer_cell {
	display: inline-block;
	width: auto;
	text-align: left;
	vertical-align: middle;
}

.width80 {
	width: 80%
}

.width20 {
	width: 20%
}
.width10 {
	width: 5%
}
.matches_list .list_col, .matches_list .date-div {
	width:27%;
}
.matches_list .date-div {width:20%;}
.g_res_w{ display: flex; justify-content: center;}
.palyer_list2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.player-score-board{ display: flex; justify-content: space-between; padding: 10px 10px;}

.player-score-board.head{ font-size: 0.9rem}

.title_bg .list_col {
	width: 33.33%;
	vertical-align: middle;
	display: table-cell;
	text-align: center;
}

.list_col {
	vertical-align: middle;
	/*color: #000;*/
}

.list_col .game_logo {
	width: 35px;
	height: 35px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	/*padding: 10px*/
}

.list_col .game_logo img {
	/*width: 100%*/
    max-width: 100%;
    max-height: 100%;
}

.play_link,
.play_link a i {
	display: block;
	cursor: pointer;
	padding: 0px 10px
}

.play_link a i {
	display: block;
	animation: dot 0.5s ease-in-out infinite alternate;
}

.play_link a {
	vertical-align: middle;
	display: block;
	font-size: 25px;
	color: #212529;
	text-align: center;
	text-decoration: none
}

.play_link a label {
	font-size: 14px;
	cursor: pointer
}

.play_link a:hover i,
.play_link a i:active,
play_link a i:focus {
	animation: dot 0.5s ease-in-out infinite alternate;
}

@keyframes dot {
	0% {
		transform: scale(1)
	}
	100% {
		transform: scale(1.3)
	}
}

.top_border {
	border-top: 1px solid #cecece;
}

.list_col.team_detail {
	width:100%;
	position: relative
}

.list_col.team_detail .span {
	color: #000000;
	font-weight: 600;
	font-size: 15px;
	width:68px;
	display: inline-block;
	padding: 20px 0px;
	vertical-align: top;
    text-align: center;
    font-size: 12px;
}

.list_col.team_detail .box1 {
	display: inline-block;
	text-align: center;
	width:90px;
    vertical-align: text-top;
}

.palyer_list .list_col {
	width: 50%;
	display: table-cell;
}
.palyer_list .list_col.w-40 {
	width:15%;
}
.palyer_list_name .list_col {
	width:100%;
	/*display: table-cell;*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}



/*.matches_list .list_col i{ font-size: 25px;}*/

.palyer_list .list_col i,
.palyer_list_name i {
	font-size: 20px;
    color: #ffffff
}

.title_bg>.list_col {
	text-align: inherit;
}

.matches_list_outer .team_namediv {
	display: none;
}

/*new-match-list-deisgn*/

.date-heading{ font-size:18px; font-weight: 600; color: #ffffff;}
.matches_list-2{
    padding: 10px 10px 10px 10px;
}
.game_logo2 {
	width:50px;
	height:50px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	padding: 10px
}

 .game_logo2 img {
	/*width: 100%*/
    max-width: 100%;
    max-height: 100%;
}
.match-board{ width: 100%; display: flex; justify-content:space-between; color: #ffffff; padding: 10px;align-items: center;}

.score-detail{ display:block; width: 50%; text-align: center;}
.score-detail div{ display:inline-block; vertical-align: middle;}
.left-text, .right-text{font-weight:600; letter-spacing:0.01rem;font-size: 1.2rem; width: 30%;}
.left-text{text-align: right; }
.right-text{text-align: left;}
.badge-l-purple{background:#761ae1 ; padding: 6px; position: relative}
.badge-l-purple:before{position: absolute; left: 49%; border-right: 1px solid #610ec2; content: ''; height: 98%; top: 0}
.badge-small{padding: 6px;}
.stadium-label{ font-weight: normal; font-size: 0.8rem}
.stadium-label.res-text{display: none}

.matches_list-2:hover .fa-icon, .matches_list-2:focus .fa-icon{
	animation: shake .82s cubic-bezier(.36, .07, .19, .97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px
}
@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0 )
	}
	20%,
	80% {
		transform: translate3d(2px, 0, 0)
	}
	30%,
	50%,
	70% {
		transform: translate3d(-2px, 0, 0)
	}
	40%,
	60% {
		transform: translate3d(4px, 0, 0)
	}
}
/*new-match-list-deisgn*/

/*------matches category------*/


.matches_list .list_col,
.list_col.team_detail,
.play_link a label {
	font-size: 17px;
    color: #000000;
}

.title_bg2 {
/*	display: block;*/
	width: 100%;
	padding: 5px 0px;
	text-align: center;
/*	margin-bottom: 20px;*/
    border-bottom: 1px solid #e8e8e8;
}
.selected-team{ display: flex; justify-content: space-evenly; margin-bottom: 10px}
.title_bg2 i {
	font-size: 32px;
	color: #0093c6
}

.title_bg2 .team_logo {
	width: 40px;
	height: 40px;
	display: block;
    margin-right: 5px;
	
}

.title_bg2 .team_name {
	display: inline-block;
	font-size: 14px;
	color: #fff;
    margin-right: 5px;
}

.title_bg2 .team_logo img {
	max-width: 42px;
	max-height:42px;
	text-align: center;
}

.title_bg2 .list_col2, .palyer_wrap  .title_bg2 .list_col2 {
	width: 28.2%;
	display: inline-grid;
	text-align: center;
    border-right: 1px solid #e8e8e8;
    display: flex;
/*    width: 21.33%;*/
/*    justify-content: center;*/
    align-items: center;
}
.title_bg2 .list_col2 > .vs {display:block;text-align:center;}
.palyer_wrap  .title_bg2 .list_col2 {
    width:100%;
}
.title_bg2 .list_col2:last-child{border-right:0px;}
#team_name {
	display: inline-block;
	text-align: center;
}

#team_name2 {
	display: inline-block;
	text-align: center;
}
.category {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.catg_wrap {
	position: relative;
	display: inline-block;
	width:23.33%;
	cursor: pointer;
	text-align: center;
    border: 2px solid #c70101;
    white-space: nowrap;
    border-radius: 10px;
    /*border-top-left-radius:10px;
    border-top-right-radius:10px;*/
    margin-bottom:10px;
    margin-right:10px;
}
.catg_wrap:nth-child(4n + 4){
 margin-right: 0px;
}
/*
.catg_wrap:nth-child(3n + 3){
 border-right: 2px solid #fdb913;
 border-top: 2px solid #fdb913;    
}
.catg_wrap:nth-child(n + 1){
 border-top: 2px solid #fdb913;    
}
.catg_wrap:nth-child(n + 7){
     border-bottom: 2px solid #fdb913;
}
*/
.catg_wrap:last-child{ background: #c70101; color: #fff;}

.catg {
    padding:37px 10px;
	margin: 0px auto;
	text-align: center;
	position: relative;
	width: 100%;
	height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 13px;
}
.date-text{font-size: 10px}
.vs-text{font-size:16px}
/*
.catg_wrap:nth-child(5n) {
	margin-right: 0px;
}
*/

.catg.disabled {
	cursor: default;
	background: #414142;
}

.catg.disabled .checkbox_img {
	display: none
}

.catg .img_box {
	width: 80px;
	height: 80px;
	margin: auto;
}

.catg .img_box i.fa {
	font-size: 6em;
	color: #09bdff
}

.catg .img_box img {
	max-width: 100%;
	height: 100%
}

.catg_title {
	color: #000000;
	font-weight: 600;
	word-wrap: break-word;
}

.checkbox_img label {
	position: relative;
	bottom: 0;
	width: 100%;
	height: 100%;
	display: block;
	box-sizing: border-box;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	background: rgba(0, 0, 0, .0);
	margin: 0;
	font-weight: 400;
	left: 0px;
}


.catg.disabled:hover {
	border: 2px solid #959595;
}

.checkbox>input[type=checkbox],
.checkbox_img>input[type=checkbox] {
	display: none
}

.checkbox_img>input[type=checkbox]:checked+label,
.catg:hover label,
.matches_list:hover label {
	/* background: rgba(0, 0, 0, .7);*/
	position: absolute;
	height: 100%;
	width: 100%;
	display: block;
	box-sizing: border-box;
	padding: 21px;
	font-weight: 400;
	text-align: center;
	cursor: pointer;
	background: linear-gradient(270deg,rgba(199,4,4,0.7),rgba(199,4,4,0.7) 45%);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.15);
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
}


@-webkit-keyframes placeholderShimmer {
	0% {
		background-position: -468px 0;
	}
	100% {
		background-position: 468px 0;
	}
}

.matches_list:hover label {
	padding: 10px 0;
}

.catg:hover label,
.matches_list:hover label {
	color: #a5a5a5;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all .7s ease;
	transition: all .7s ease;
	position: absolute;
    
}

.matches_list:hover label {
	padding: 20px 0;
}

.checkbox_img:hover label:before {
	color: #fff;
	content: "\f00c";
	font-family: FontAwesome;
	font-size: 40px;
}

.checkbox_img>input[type=checkbox]:checked+label {
	color: #fff;
}

.checkbox_img>input[type=checkbox]:checked+label:before {
	color: #fff;
	content: "\f00c";
	font-family: FontAwesome;
	font-size: 50px;
	text-shadow: 0 0 20px #fff;
}

.sub_tile {
	border-bottom: 1px solid #000000;
	padding: 20px 10px;
	font-weight: 500;
	color: #fff;
}

.sub_tile i {
	color: #ffffff;
	margin-right: 4px;
}

.video_wrap {
	border-bottom: 1px solid #000000;
	padding: 20px 0px;
	position: relative !important;
}
video_inner{ position: relative !important;}
.video_inner video {
	width: 90%;
	margin: 0px auto;
}

.video_inner video {
	width: 100%;
}


/*player*/

.palyer_wrap a {
	color: #212529;
	text-decoration: none;
}

.palyer_wrap h5 {
	font-weight: 400;
	font-size: 15px;
    color: #000000;
}

.team_icon {
	width:60px;
	height:60px;
	margin:auto;
    margin-bottom: 10px;
}
.palyer_wrap .team_icon{
    width:42px;
	height:42px;
}
.team_icon img {
	vertical-align: middle;
	max-width: 100%;
	height: 100%
}

.player_name {
	display:block;
	vertical-align: middle;
	/*margin-left: 20px;*/
}
.palyer_list2 .team_icon {
    width: 40px;
    height: 40px;
    display: inline-block;
}
.palyer_list2 .list_col{ float: left;}
 .short-ply-name{ display: none;}
.palyer_list2 .col-res1{width: 40%}
.palyer_list2 .col-res2{width: 60%}
footer {
	position: relative;
	font-size: 13px;
}

.black-strip{ background:#1b1b19; width: 100%;padding: 1rem 3rem;}
.black-strip h4{color: #fff; font-weight: 600;}
.black-strip h4 a{color: #af2837;font-weight: 600;}
.footer_wrap {
	background-color: #020110;
/*	background-color: #ffffff;*/
	text-align: center;
	color: #fff;
	padding:20px 20px;
	/*margin-top: 20px;*/
}
.footer-img{ width: 150px; margin: 10px auto;}
.container-matches {
	position: relative;
}

.select_multiple_game {
	position: absolute;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, .8);
	display: block;
	z-index: 999;
	text-align: center;
}

.message {
	vertical-align: middle;
	color: #ffff;
	align-items: center;
	margin: 10% 0px
}

.instruction {
	text-align: center;
	margin-top:50px;
	margin-bottom: 20px;
	padding: 5px 0px;
}
.instruction ul{display: flex; align-items: center; justify-content: center;}
.instruction li {
	display: inline-block;
	font-size: 15px;
	margin: 0px 0px;
	text-align: center;
	position: relative;
	z-index: 8;
	border-right: 2px solid #fdb913;
	/*padding: 0px 10px;*/
	text-align: center;
    white-space: inherit;
}

.instruction li:last-child {
	border-right: none;
}

.instruction .icon,
.instruction .active-icon {
	width: 60px;
	height: 60px;
	margin: 0px auto;
	border-radius: 50%;
	box-sizing: border-box;
	padding: 5px 0px;
	margin-bottom: 0px;
}

.instruction .icon .img {
	width: 50%;
	margin: 0px auto;
}


.instruction .label {
	color: #000;
	word-wrap: break-word;
	font-weight: 600;
    padding:5px 10px;
 
}

.instruction .spanColor{
	
	font-size:40px;
	text-align: center;
    font-weight: bold;
}
 .instruction .label.active{
     background: #c70101;    
     color: #fff;
}


.sub-active{/*color: #0095c4;*/color: #ff2882;}


#video-player {
	background-color: rgba(0, 0, 0, 0.3);
	position: relative;
}

#loading {
	width: 100%;
	height: 100%;
	position: absolute !important;
	text-align: center;
	top: calc(50% - 34px);
	font-size: 1rem;
	font-weight: 600;
	color: #fff;
}

.ads-top {
	max-width: 900px;
	min-width: 300px;
	margin: auto;
}

.ads-top img {
	max-width: 90%;
	max-height: 100%
}

.ads-right {
	position: fixed;
	width: 200px;
	top: 40%;
	right: 0px
}

.ads-left {
	position: fixed;
	width: 200px;
	top: 40%;
	left: 0px
}

.ads-right img,
.ads-left img {
	max-width: 100%;
}

.vjs-icon-swanbaybrand{ 
	background-image:url("https://swanbay.tv/video-demo/celtic/assets/images/favicon.png")!important;
	background-repeat: no-repeat!important;
	background-size: 30px 30px!important;
}
.top-bg{background: #ffffff;}
.top-header{width: 100%; padding:5px 0px; margin: 0px auto;justify-content:center;}
.top-header .badge-title{float: left;}
.top-header .badge-title h6{ font-size:0.7rem;line-height:3rem;font-weight: 400;text-transform: uppercase;color: #76766f;font-weight: bold;}
.team-logo{display: flex;}
.team-logo li {display: inline-block; text-decoration: none; list-style: none; }
.team-logo li .badge{width:3rem; height:3rem; transition: all .1s ease-in; margin-right:4px;}
.team-logo li  a{display: block;}
.team-logo li .badge img{ max-width: 100%; max-height: 100%; transform: scale(0.8);}
.team-logo li .badge:hover img{transform: scale(.9); transition: all .1s ease-in-out;}
.start-screen{ 
    /*background: #1d1d1e;*/
    background: rgba(55,0,60,1);
display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
    color: #fff;
    text-align: center;
    align-items: center;
}
.start-screen h4{color: #fff; font-size: 1.2rem; font-family: 'OpenSans'; font-weight: 400}
.start-screen h3 a{color: #fff; font-size: 2.2rem;font-family: 'OpenSans'; line-height: 50px; font-weight: 400; text-decoration: none}
.start-screen h2 a{color: #fff; font-size: 2.5rem;font-family: 'OpenSans'; line-height: 50px;font-weight: 400;text-decoration: none}
.start-screen h3 a:hover, .start-screen h3 a:active, .start-screen h3 a.active-link{color: #0095c4; font-size: 2.2rem;text-decoration: none}
.start-screen h2 a:hover{color: #0095c4; font-size: 2.5rem;}
.start-button{ 
	
	text-align: center;margin: 30px auto; display: flex; justify-content: center;align-items: center;
	
}
.start-button a{
    width: 6rem; 
    height: 6rem;     
    background: #0095c4; 
    border-radius: 50%;color: #fff;
    text-transform: uppercase;  
    vertical-align: middle; 
    font-size:1rem;
display: flex; justify-content: center;align-items: center;
    position: relative;
    transition: .5s;
    text-decoration: none;
}
.start-button a i{font-size:2rem;}
.start-button a:before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0p;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #0095c4;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
    
}
.start-button a:hover:before{
     transform: scale(.9);
    box-shadow: 0 0 15px #8ae5ff;
        
}
.start-button a:hover{
     transform: scale(1.1);
    box-shadow: 0 0 15px #8ae5ff;
        
}

.start-button a:hover{
    color: #fff;
}

/*.start-button:hover {background-image: linear-gradient(-180deg, #0257b9 0%, #0257b9 100%); box-shadow: 0 1rem 1.25rem 0 rgba(22,75,195,0.50),
	0 -0.25rem 1.5rem #0257b9 inset,
	0 0.75rem 0.5rem rgba(255,255,255, 0.4) inset,
	0 0.25rem 0.5rem 0 #0257b9 inset; border: 1px solid #0257b9;}*/

/*.league_logo-wraper{position: relative;width:90px;height:90px;}
.league_logo-inner{position: absolute;width: 100px;height: 100px;background: #ffffff;
border-top-right-radius: 4rem;border-bottom-right-radius: 4rem; right: 0px; left: -20px; top:-5px; z-index: 90}*/
.league_logo-wraper{position: relative;height:65px; width:90px}
.league_logo-inner{position: absolute;width:128px;height:75px;background:#ffffff;
border-top-right-radius:0rem;border-bottom-right-radius:4rem; right: 0px; left: -20px; top:-5px; z-index: 90}

.league_logo { width:65px;
height:65px; text-align: center; margin:5px auto}

.league_logo img {
    max-width: 100%;
    max-height: 100%;
}

/*.sticky .league_logo-wraper{position: relative;width:90px;height:50px;}*/
/*.sticky .league_logo-inner{position: absolute;width:128px;height:75px;background: #ffffff;
border-top-right-radius: 0rem;border-bottom-right-radius: 4rem; right: 0px; left: -20px; top:-10px; z-index: 90}*/
/*.sticky .league_logo { width:65px;
height:65px; text-align: center; margin:3px auto}*/
.banner, .banner-category{ width: 100%;
    height: 180px;
    max-height: 700px;
    position: relative;
   /* background-image: url(../images/banner-bg.jpg);*/
    background-origin: content-box;
    background-position: top;
    background-size: cover; 
    object-fit: cover;
}
.banner img{width: 100%; height: 100%; object-fit: cover;}
.banner-category{background-image: url(../images/banner-bg2.jpg);}
.team-player-banner{background-image: url(../images/banner-bg3.jpg);}
.banner::before, .banner-category::before {
    content: "";
    background-image: url(../images/heading-bg-desktop.svg);
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
    background-repeat: no-repeat;
    background-size:1900px;
    background-position: center;
    mix-blend-mode: screen;
}
.banner .container-wrap{ position: absolute; width: 100%; height: 100%; background: rgba(0,0,0,0.2); display: flex; justify-content: center; align-items: center; z-index: 22; padding: 1rem; top: 0px;}


.black-bg{color: #fff; padding: 10px; background: #d70a1b;width: 70%;
	margin: auto;}
.banner-text{text-align: center;}
.banner-text h3{color: #fff; font-size: 1.5rem}
.banner-text h2{color: #fff; font-size: 2.2rem; font-weight: bold;}

.splash{
    
    background-image: url(../images/screen.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100vh;
     display: flex;
    justify-content: center;
    flex-wrap:wrap;
    padding-top: 2rem;
}
.splash .epl-logo{ width: 250px; margin: 0px auto}
.splash .epl-logo img{ max-width:100%;}
.splash.display-none{
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    z-index:-1;
    width: 100%;
    height: 100vh;
    opacity: 0;
}
.splash h2{color: #fff; font-size: 2.5rem; font-weight:400; margin-bottom: 0.6rem}


.spalsh-relative {
    position: relative;
    width: 300px;
}
.splash-footer{margin-top:0rem; }
.splash-footer .logo {
    display: block;
    vertical-align: middle;
    position: absolute;
    bottom:1rem;
    width: 100%;
}
.splash-footer .logo a {
    display: block;
    width: 170px;
    height: 42px;
    margin: 0px auto;
}
splash-footer .logo a img {
    vertical-align: middle;
    width: 100%;
}

.patner-section{ background: #fefefe;padding:2rem; position: relative; margin-top: 3rem}
.container-wraper{ max-width: 1140px; margin: 0px auto; text-align: center;}
.patner-section:after, .patner-section:before {
    content: " ";
    clear: both;
    background: #000;
    /*background: linear-gradient(-270deg,#8b0263,#fc3f42 90%);*/
    content: "";
    display: block;
    height: .4rem;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}
.patner-section:after {
    background: #c70101;
}
.patner-section:before{ top: inherit; bottom: 0px;}
.patner-section li{ display: inline-block; width: 14%}
.patner-section li a{ color: #000; display: block}
.patner-section .box-1 {
    text-align: center;
    display: inline-block;
    margin:0 10px 10px;
    width: 120px
}
.patner-section .box-1 .img-box{ width:80%;height:50px; text-align: center;}
.patner-section .box-1 .img-box img{ max-width:100%; max-height: 100%; margin: 0px auto;}
.patner-section .box-1 label{font-size: 0.8rem; display: block; margin-top: 10px;}

.list-logo img{ width: 40px; height: 40px; float: right}
.sub-header-wraper{    background: linear-gradient(270deg,#3e0952,#3d0f4e 30%, #3e0952);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.15);
    color: #fff; padding:0px 0; margin-bottom: 30px; }

.left-panel{ width: 30%; padding:40px 10px; display: inline-block; color: #fff; }
.right-panel{ width: 70%;}

.tab-match-detail .header{ background: #ff2882; padding: 10px 10px 10px 10px; border-radius: 2px}
.tab-match-detail .header .league-logo{ text-align: center; }
.tab-match-detail .header .league-logo img{ max-width: 100%;
    max-height: 100%; }

.tab-match-detail .nav-link { font-size: 0.8rem; font-weight: 500; color: #000000;
background-color: #efefee;
border-color: #efefee #efefee #fff; margin: 0px 2px 0px 2px;
}
.th-heading-bg{ background: #f2f2f2; color:#18191b }
.tab-match-body .th-heading, .td-content{ font-weight: normal; font-size: 0.7rem; padding: 10px 8px; vertical-align: middle;}
.tab-match-body tbody{background:#49164c;padding:0 10px}
.t-logo-icon{ width: 1.5rem; height: 1.5rem; display: inline-block;   margin-right: 6px;}
.t-logo-icon img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
  
}
.tab-match-body  .club{ font-weight:600; color: #ffffff; }
.tab-match-body  tr {
    border-bottom: 1px solid #740e7a;
}

.tab-menu{ display: none}
.tab-container.fade:not(.show) {
    opacity: 1;
}
.nav-tabs .nav-link{ padding: .8rem 2.5rem;}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    
    color: #fff;
background-color: #c70101;
border-color: #c70101 #c70101 #c70101;
   
}

.nav-tabs .nav-link{color:#000000}

.container-scroll{
    
    height: 390px;
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: clip;
}
.container-scroll::-webkit-scrollbar{width:4px;}
.container-scroll::-webkit-scrollbar-track{background: #f5f2f2;}
.container-scroll::-webkit-scrollbar-thumb{background: #c6c6c6;}
#container-matches.container-scroll, .actions-h.container-scroll{
    
    height: 480px;
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: clip;
}
.tab-content{ /*background:#fbfafa;*/ padding:0rem 0rem 1rem}

.mobile-menu{display: none}
.playbutton{color: #ffffff}

.black-strip{ background: #000000}
.Wolves-text{ color: #fdb913; font-size: 1.5rem; font-weight: 700; position: relative;}
.superscript{ position: absolute; font-size: 1rem; position: absolute; color: #ffffff}

.tabs-wrap{ display: flex; width: 100%; justify-content: space-between; margin-top:2rem;flex-wrap: wrap;}
.upper-tabs{ display: flex;width: 60%; }
.upper-tabs li{ display: inline-block; width: 50%; text-align: center;}
.upper-tabs a{display: block; background: rgba(255,255,255,.1); padding:1rem 3rem; color: #999;
border-bottom: 5px solid rgba(255,255,255,.1); }
.upper-tabs a:hover{
text-decoration: none
    }
.upper-tabs a.active{ 
    background: #ffffff; 
    border-bottom: 5px solid #fdb913; 
    color: #000000
}
.latestvideo-link{width: 40%; text-align: right}
.latest-video{
    
    background:transparent; 
    border-bottom: 5px solid #fdb913; 
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;
}
.latest-video:hover{color: #ffffff; text-decoration: none}

.video-js .vjs-big-play-button {
    left:calc(50% - 1.5em)!important;
    top:calc(50% - 0.5em) !important;
    z-index: 999;
}